<!DOCTYPE html>
<html lang="fr">
    <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
<body>
<form class = "changerpsw" action="/changerPassword" method="POST">

    <div class = "form setup">
        <input type="oldpsw" class = "login-input" name = "oldpsw" placeholder="old password" id="champ1" 
        onkeyup = "verifierchamp()"/>
    </div>
    <div class="form setup">
        <input type="newpsw" class="login-input" name="newpsw" placeholder="new password" id="champ0"
        onkeyup="verifierchamp()"/>
    </div>
    <div class="form setup">
        <input type="confirmnewpsw" class="login-input" name="confirmnewpsw" placeholder="confirmation password" id="champ2"
        onkeyup="verifierchamp()"/>
    </div>
    <div class = "form setup">
        <button type="submit" id= "buttonB"  disabled>submit</button>
    </div>
   
</form>


<script>
    function verifierchamp(){
        if(champ1.value.length > 0 && champ2.value.length > 0 && champ0.value.length > 0){
        document.getElementById("buttonB").disabled = false;
        }
        else {
            document.getElementById("buttonB").disabled = true;
        }
    }
</script>
</body>
</html>