<!DOCTYPE html>
<html lang="fr">
    <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
<body>
<form class = "register" action="/creationcv" method="POST">

    <div class = "form setup">
        <input type="email" class = "login-input" name = "email" placeholder="email" id="champ1" onkeyup=verifierchamp()>
    </div>
    <div class="form setup">
        <input type="lastname" class="login-input" name="lastname" placeholder="nom" id="champ2" onkeyup=verifierchamp()>
    </div>
    <div class="form setup">
        <input type="firstname" class="prenom" name="firstname" placeholder="prenom" id="champ3" onkeyup=verifierchamp()>
    </div>
    <div class="form setup">
        <input type="title" class="title" name="title" placeholder="titre du cv" id="champ4" onkeyup=verifierchamp()>
    </div>
    <div class = "form setup">
        <button type="submit" id= "buttonB"  disabled>connexion</button>
    </div>
    <div class="form-control">
        <a class="password-forgotten" href="/resetPassword">Mot de passe oublié ?</a>

    </div>
</form>


<script>
    function verifierchamp(){
        if(champ1.value.length > 0 && champ2.value.length > 0 && champ4.value.length > 0 && champ3.value.length > 0){
        document.getElementById("buttonB").disabled = false;
        }
        else {
            document.getElementById("buttonB").disabled = true;
        }
    }
</script>

</body>
</html>